{% extends 'base.html' %}


{% block meta_tags %}
<meta name="robots" content="noindex, nofollow">
{% endblock meta_tags %}


{% block body_block %}
<div class="row">
    <div class="col-8 mr-auto ml-auto content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="mb-4 border-bottom"> Are You Sure To DELETE this post?</h1>
            <h3 class="text-center ">{{ object.main_title }}</h3>
            <div class="col-12 mb-2">

                {% if object.news_pic %}
                <img src="{{object.news_pic.url}}" alt="" class="img-fluid">
                {% endif %}

            </div>
            <input type="submit" class="btn btn-danger" value="Yes">
        </form>
    </div>
</div>
{% endblock body_block %}
