{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href=" {% static 'blog/css/footer.css' %} " />
<link rel="stylesheet" href=" {% static 'blog/css/post_detail.css' %} " />
{% endblock style %} {% block title %} {{post.main_title}} {% endblock title %}
{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 content-section">
      <div class="row ">
        <div class="col-12 details-header">
          <div class="row">
            <div class="col-12 col-lg-6 main-header">
              <h2>{{post.main_title}}</h2>
            </div>
            <div class="col-lg-6 ">
              {% if user.is_authenticated and post.author == user %}
              <div class="d-flex justify-content-end">
                {% if not post.published_date %}
                <a class="btn btn-success text-white m-2 " href="{% url 'post:publish' pk=post.pk %}">Publish</a>
                {% endif %}

                <a class="btn btn-warning text-white m-2 " href="{% url 'post:update' pk=post.pk %}">Update</a>
                <a class="btn btn-danger text-white m-2" href="{% url 'post:delete' pk=post.pk %}">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if post.video_link %}
        <iframe width="90%" height="320" src="https://www.youtube.com/embed/{{post.video_link}}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <div class="col-12 details-img">
          <img class="img-fluid" src="{{ post.news_pic.url }}" alt="" />
        </div>
        {% endif %}


        <div class="col-12">
          <p class=" text-muted">
            <i class="fa fa-clock"> </i> <small class="text-muted"> {{ post.published_date }} </small>
          </p>
        </div>

        <div class="col-12 details-main-description">
          <p>
            {{post.short_description|safe|linebreaksbr}}
          </p>
        </div>


        <div class="col-12 details-sub-description">
          <p>
            {{post.long_description|safe|linebreaksbr}}
          </p>
        </div>


        <div class="col-12">
          <iframe
            src="https://www.facebook.com/plugins/share_button.php?href={{ request.build_absolute_uri }}&layout=button&size=large&width=76&height=28&appId"
            width="76" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-12">
          <div id="disqus_thread"></div>
          <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://https-www-anaagathaya-com.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
              Disqus.</a></noscript>
        </div>
      </div>
    </div>

    <div class="col-lg-3 list-section d-none d-lg-block ">
      <h3>
        Related Posts
      </h3>

      {% for postdetail in post_detail_list %}
      {% if post.pk == postdetail.pk %}
      {% else %}
      <div class="card mb-3 side_list">
        <a href="{{ postdetail.get_absolute_url }}">

          {% if postdetail.news_pic %}
          <img class="card-img-top side_image" src="{{ postdetail.news_pic.url }}" alt="Card image cap" />
          {% else %}
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{postdetail.video_link}}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          {% endif %}

        </a>

        <div class="card-body">
          <a href="{{ postdetail.get_absolute_url }}">
            <h5 class="card-title text-dark text-decoration-none ">
              {{ postdetail.main_title }}
            </h5>
          </a>
          <p class="card-text">
            <small class="text-muted">{{ postdetail.published_date }}</small>
          </p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

{% include 'blog/_footer.html' %}

{% endblock body_block %}
