{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}

<meta name="description" content="{{post.short_description}}">
{% endblock meta_tags %}

{% block title %}
{{post.main_title}}
{% endblock title %}


{% block body_block %}
<div class="container">
   <div class="row">
      <!-- Latest Posts -->
      <main class="post blog-post col-lg-8">
         <div class="container">
            <div class="post-single">

               {% if user.is_authenticated and post.author == user %}
               <div class="col-12 d-flex justify-content-md-end mb-1">
                  <a href="{{post.get_update_url}}" class="btn btn-primary mr-2">Update</a>
                  <a href="{{post.get_delete_url}}" class="btn btn-danger">Delete</a>

               </div>
               {% endif %}

               <div class="post-thumbnail"><img src="{{post.news_pic.url}}" alt="{{post.news_pic.url}}"
                     class="img-fluid">
               </div>
               <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                     <div class="category">


                        <a href="{{post.get_category_list_url}}">{{post.category.title}} /</a>
                        <a href="{{post.get_sub_category_list_url}}">{{post.sub_category.sub_title}}</a>




                     </div>
                  </div>
                  <h1>{{post.main_title}}</h1>
                  <div class="post-footer ">
                     <a href="{{post.get_user_post}}">
                        <img src="{{post.author.profile.image.url}}" alt="{{post.author.username}}."
                           class="article-img rounded-circle">
                     </a>
                     <span class="title">{{post.author.username}}</span>
                     <span class="date"><i class="icon-clock"></i> {{post.published_date|date:"M Y"}}
                     </span>

                     <span class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</span>
                  </div>


               </div>
               <div class="row">
                  <div class="post-body mb-5 col-12">
                     {{post.long_description|safe}}
                  </div>
               </div>

               <div class="col-12">
                  <iframe
                     src="https://www.facebook.com/plugins/share_button.php?href={{ request.build_absolute_uri }}&layout=button&size=large&width=76&height=28&appId"
                     width="76" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                     allowTransparency="true" allow="encrypted-media"></iframe>
               </div>
               <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">

                  {% if post.previous_post %}
                  <a href="{{post.previous_post.get_absolute_url}}"
                     class="prev-post text-left d-flex align-items-center">
                     <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                     <div class="text">
                        <strong class="text-primary">Previous Post </strong>
                        <h6>{{post.previous_post.main_title}}</h6>
                     </div>
                  </a>
                  {% endif %}


                  {% if post.next_post %}
                  <a href="{{post.next_post.get_absolute_url}}"
                     class="next-post text-right d-flex align-items-center justify-content-end">
                     <div class="text"><strong class="text-primary">Next Post </strong>
                        <h6>{{post.next_post.main_title}}.</h6>
                     </div>
                     <div class="icon next"><i class="fa fa-angle-right"> </i></div>
                  </a>
                  {% endif %}




               </div>
               <div>
                  <div class="post-comments ">
                     <header>
                        <h3 class="h6">Post Comments<span class="no-of-comments">({{post.comments.count}})</span>
                        </h3>
                     </header>

                     {% for comment in post.get_comments %}
                     <div class="comment">
                        <div class="comment-header d-flex justify-content-between">
                           <div class="user d-flex align-items-center">

                              <a href="{{comment.get_commented_user_post}}">
                                 <div class="image">
                                    <img src="{{ comment.user.profile.image.url }}" alt="{{comment.user.username}}"
                                       class="img-fluid rounded-circle">
                                 </div>
                              </a>


                              <div class="title">
                                 <a href="{{comment.get_commented_user_post}}">
                                    <strong>{{comment.user.username}}</strong>
                                 </a>
                                 <div>
                                    <span class="date">{{comment.timestamp|date:"M Y"}}</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="comment-body">
                           <p>{{comment.content}}</p>
                        </div>
                     </div>
                     {% endfor %}



                  </div>

                  {% if request.user.is_authenticated %}
                  <div class="add-comment border-top pt-5">
                     <header>
                        <h3 class="h6">Leave a reply</h3>
                     </header>
                     <form action="#" class="commenting-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                           <div class="form-group col-md-12">
                              {{form}}
                           </div>
                           <div class="form-group col-md-12">
                              <button type="submit" class="btn btn-secondary">Submit Comment</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-dropbox">Click Here to Login</a>
                  {% endif %}
               </div>


            </div>
         </div>
   </div>
   </main>
   {% include 'blog/aside.html' %}
</div>
</div>
{% endblock %}
