.bg-dark{
    background:rgba(36, 36, 35, 0.8) !important ;
}

body{
    left: 0;
    top: 0;
    z-index: 0;
}
.carousel-item{
    height: 400px;
}
.carousel-item img{
    
    min-height: 400px;
}

.card-para{
    text-align: justify;
}


@media (min-width: 576px) { 
    .carousel-item{
    height: auto;
}
.carousel-item img{
    width: 100%;
    
    
}
 }
.carousel-caption{
    color: hsl(195, 100%, 6%);
}


.post-section{
    
    padding-top: 20px ;
}

@media (min-width: 992px){
    .carousel-item{
         height: 600px;
}
    .carousel-item img{
         min-height: 600px;
    
         
}
    .card-body{
        overflow: hidden;
    }
    .no-gutters {
        max-height: 270px;
    }
    
}


.carousel-caption{
    background-color: rgba(2, 2, 2, 0.6);
    color: floralwhite;
}
.collapse_bottom{
    border-top: 1px solid rgb(201, 199, 199);
}

.comments img{
    height: 40px;
    width: 40px;
}