{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}">
<!-- Custom icon font-->
<link rel="stylesheet" href="{% static 'css/fontastic.css'%}">
<!-- Google fonts - Open Sans-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<!-- Fancybox-->
<link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css'%}">
<!-- theme stylesheet-->
<link rel="stylesheet" href="{% static 'css/style.default.css'%}" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="{% static 'css/custom.css'%}">
<!-- Favicon-->
<link rel="shortcut icon" href="favicon.png">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153622522-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-153622522-1');
</script>
