{% load static %}

<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="logo">
                    <h6 class="text-white">Finbasic</h6>
                </div>
                <div class="contact-details">
                    <p>53 Broadway, Broklyn, NY 11249</p>
                    <p>Phone: (020) 123 456 789</p>
                    <p>Email: <a href="mailto:info@finbasic.com">Info@Company.com</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="menus d-flex justify-content-between">
                    <ul class="list-unstyled">
                        <li> <a href="#">About Us</a></li>
                        <li> <a href="#">Contact Us</a></li>
                        <li> <a href="#">Our Team</a></li>
                        <li> <a href="#">Consultation</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li> <a href="#">Disclaimer</a></li>
                        <li> <a href="#">FAQ</a></li>
                        <li> <a href="#">Privacy &amp; Policy </a></li>
                        <li> <a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017. All rights reserved. Your great site.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Template By <a href="https://bootstrapious.com/p/bootstrap-carousel"
                            class="text-white">Bootstrapious</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
